.why-nxt {
  width: 100%;
}
.why-nxt-heading {
  flex-direction: column;
  gap: 1rem;
}
.why-nxt-grid {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.375rem;
  align-items: baseline;
}
.why-nxt-grid-1 {
  flex-direction: column;
  gap: 1.5rem;
}
.why-nxt-grid-1 img {
  width: 4.75rem;
  transition: all 0.5s;
  height: auto;
}
.why-nxt-grid-1 img:hover {
  transform: scale(1.1);
}
.why-nxt-grid-1 h3 {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}
.why-nxt-grid-1 p {
  color: #000;
  text-align: center;
  font-weight: 500;
  line-height: 1.6875rem;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .why-nxt-grid {
    gap: 2.5rem;
  }
  .why-nxt-grid-1 h3 {
    font-size: 1.1rem;
  }
  .why-nxt-grid-1 p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .why-nxt-grid-1 img {
    width: 4rem;
  }
}
@media (max-width: 768px) {
  .why-nxt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .why-nxt-heading h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 425px) {
  .why-nxt-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .why-nxt-heading h2 {
    font-size: 2.2rem;
  }
}
/* BANNER  */
.banner {
  width: 100%;
  margin: 5rem 0;
}
.banner-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.7rem 6.2rem;
  border-radius: 0rem 12.5rem 0rem 0rem;
  background: #407bff;
}

.banner-grid-content {
}
.banner-grid-content h4 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.1875rem;
  text-transform: capitalize;
}
.banner-grid-content p {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 2.5rem 0;
}
.banner-grid-content a {
  display: flex;
  justify-content: center;
  margin-right: 7rem;
}
.banner-grid-content a button {
  all: unset;
  padding: 0.7rem 1.8rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #407bff;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 3.5rem 0 0;
}
.banner-grid-svg img {
  width: 75%;
}
@media (max-width: 1024px) {
  .banner-grid-svg img {
    width: 80%;
  }
  .banner-grid {
    padding: 3.7rem 3.2rem;
  }
  .banner-grid-content a {
    margin: 0;
  }
  .banner-grid-content a button {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .banner-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
    border-radius: 0rem 6.5rem 0rem 0rem;
  }
  .banner-grid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .banner-grid-content p {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .banner-grid {
    padding: 1rem;
    border-radius: 0rem 2.5rem 0rem 0rem;
  }
  .banner-grid-content h4 {
    font-size: 1.8rem;
  }
  .banner-grid-content p {
    font-size: 0.9rem;
  }
}
@media (max-width: 320px) {
  .banner-grid-svg {
    display: none;
  }
}

/* CONTACT FORM  */
.contact-form {
  width: 100%;
  margin: 5rem 0;
}
.contact-from-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.contact-from-grid-details-heading {
  flex-direction: column;
  align-items: baseline;
}
.contact-from-grid-details-heading h2 {
  width: 95%;
}
.contact-from-grid-details-heading p {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1.6rem 0;
  width: 85%;
}
.same-grid {
  border-radius: 0.3125rem;
  background: #f6f6f6;
  padding: 1rem 1rem;
  flex-direction: column;
  gap: 0.7rem;
}
.same-grid h5 {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
}
.same-grid img {
}
.same-grid a p {
  color: #000;
  font-weight: 600;
}
.contact-from-grid-details-contact {
  margin: 3rem 0;
}
.contact-from-grid-details-contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.contact-from-grid-details-contact-grid-1 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.contact-from-grid-details-contact-3 {
  align-items: flex-start;
}
.contact-from-grid-from {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.same-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.same-form label {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.same-form input {
  border: 1px solid #c9c9c9;
  background: #fff;
  height: 3rem;
  padding-left: 2rem;
}
.same-form label span {
  color: red;
}
.same-form textarea {
  border: 1px solid #c9c9c9;
  color: black;
  height: 10rem;
  padding-left: 2rem;
  font-size: 1rem;
  padding-top: 1rem;
}
.same-form input,
.same-form textarea::placeholder {
  /* color: #060606; */
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.same-form input,
.same-form textarea:focus {
  /* border: 1px solid #000; */
  /* outline: 1px solid black; */
}

.contact-from-first-last-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.contact-form-button {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.contact-form-button p {
  color: #000;
  font-weight: 500;
}
.contact-form-button button {
  all: unset;
  padding: 0.8rem 0;
  width: 10.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background: #407bff;
  text-align: center;
}
@media (max-width: 950px) {
  .contact-from-grid {
    grid-template-columns: 1fr;
  }
  .contact-from-grid-details-heading {
    flex-direction: column;
    justify-content: center;
  }
  .contact-from-grid-details-heading h2,
  .contact-from-grid-details-heading p {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contact-from-grid-details-heading h2 {
    font-size: 2.5rem;
  }
  .contact-from-grid-details-heading p {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .contact-from-first-last-name {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 450px) {
  .contact-from-grid-details-contact-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .same-grid {
    padding: 0;
  }
  .contact-from-grid-details-heading h2 {
    font-size: 2.2rem;
  }
  .contact-from-grid-details-heading p {
    font-size: 0.9rem;
  }
}

/* PROGRESS  */

.progress {
  width: 100%;
}
.progress-heading {
}
.progress-heading h2 {
  width: 49rem;
}
.progress-heading p {
  width: 33.4375rem;
  color: #515151;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 3rem;
}
.progress-heading p span {
  color: #000;
  font-weight: 700;
}
.progress-main-grid {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.progress-grid-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 15rem);
  gap: 1.5rem;
}
.progress-same {
  position: relative;
  display: flex;
  align-items: self-end;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: #f2f0f0;
  z-index: 1;
  overflow: hidden;
}
.progress-same h2 {
  text-align: right;
}
.progress-same p {
  align-self: start;
  padding-top: 1rem;
}
.svgfile {
  position: absolute;
  right: -13px;
  top: 125px;
  width: 50%;
  text-align: right;
  z-index: -1;
}
@media (max-width: 1024px) {
  .progress-same h2 {
    font-size: 2.5rem;
  }
  .progress-grid-1 {
    grid-template-rows: repeat(7, 13rem);
  }
  .progress-heading h2 {
    width: 100%;
  }
  .progress-same p {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .progress-heading h2 {
    font-size: 2.5rem;
  }
  .progress-main-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .progress-grid-1 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .svgfile {
    top: 80px;
    opacity: 0.5;
  }
  .progress-heading p {
    width: 100%;
  }
  .progress-same {
  }
  .progress-same p {
  }
}
@media (max-width: 650px) {
  .progress-grid-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .progress-same {
    padding: 0.8rem 1rem;
  }
  .progress-heading h2 {
    font-size: 2.2rem;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .progress-grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* WINDOWS  */

.windows {
  width: 100%;
  margin: 5rem 0;
  padding: 15rem 0;
  background: #2b142c;
  /* border-radius: 10rem 10rem 10rem 10rem; */
}
.window {
  /* background-color: aqua; */
}
.windows-grid {
  /* width: 63.125rem; */
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
}
.windows-grid-3 {
  grid-area: 1/3/2/5;
}
.windows-grid-4 {
  grid-area: 1/5/3/7;
}
.windows-grid-6 {
  grid-area: 2/2/3/4;
}
.windows-grid-8 {
  grid-area: 3/1/5/3;
}
.windows-grid-9 {
  grid-area: 3/3/4/5;
}
.windows-grid-1,
.windows-grid-3,
.windows-grid-4,
.windows-grid-6,
.windows-grid-8,
.windows-grid-9,
.windows-grid-11,
.windows-grid-13,
.windows-grid-14 {
  background: #fff;
  box-shadow: -17px 0px 99px 0px rgba(81, 81, 81, 0.25);
}
.windows-grid-1 {
  background: red;
  position: relative;
  transition: all 0.4s;
  z-index: 1;
  overflow: hidden;
}
.windows-grid-1-hide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Images/Windows/project.png");
  background-position: center;
  background-size: cover;
  transition: all 0.4s;
  z-index: -1;
  right: 0px;
  bottom: 0px;
}
.windows-grid-1:hover .windows-grid-1-hide {
  transform: rotate(360deg);
  right: 150px;
  bottom: 150px;
}
/* START  */

/* END  */

.windows-grid-1 h4 {
  color: white;
}
.windows-grid-3 {
  background-image: url("../Images/Windows/BLOGWINDOW.png");
  background-position: center;
  background-size: cover;
}
.windows-grid-3 h4 {
  color: black;
}
.windows-grid-4 {
  background: #ebb376;
}
.windows-grid-4 img {
  width: 8.375rem;
}
.windows-grid-11 {
  position: relative;
  background-color: #000;
  z-index: 1;
  overflow: hidden;
}
.windows-grid-11-hide,
.windows-grid-13-hide {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #df0024;
  transition: all 0.4s;
  right: 150px;
  bottom: -150px;
}
.windows-grid-11:hover .windows-grid-11-hide {
  transform: rotate(360deg);
  right: 0px;
  bottom: 0px;
}
.windows-grid-13 {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.windows-grid-13-hide {
  background: #ffc436;
  bottom: 150px;
}
.windows-grid-13:hover .windows-grid-13-hide {
  transform: rotate(360deg);
  right: 0px;
  bottom: 0px;
}
.windows-grid-6 {
  /* background: #df9926; */
  background-image: url("../Images/Windows/Services.png");
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.4s;
  z-index: 1;
  transition: all 0.4s;
  overflow: hidden;
}
.windows-grid-6-h4 h4 {
  color: #ffffff;
}
.windows-grid-6-h4 {
  transition: all 1s;
}
.windows-grid-6-hide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  left: 308px;
  bottom: 150px;
  transition: all 0.4s;
}
.windows-grid-6:hover .windows-grid-6-h4 h4 {
  color: #e7b202;
}
/* .windows-grid-6-h4:hover {
  color: #df9926;
} */
.windows-grid-6:hover .windows-grid-6-hide {
  transform: rotate(360deg);
  left: 0px;
  bottom: 0px;
}
.windows-grid-8 {
  position: relative;
  cursor: pointer;
  transition: all 0.8s;
  overflow: hidden;
}
.windows-grid-8-front {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: #274560; */
  background-image: url("../Images/Windows/About.png");
  background-position: center;
  background-size: cover;
  transition: all 0.8s;
  top: 0;
}
.windows-grid-8:hover .windows-grid-8-front {
  top: -308px;
}
.windows-grid-8-hide {
  height: 100%;
  position: absolute;
  padding: 2.2rem 1.5rem;
  text-align: center;
  flex-direction: column;
  background: #558498;
  transition: all 0.8s;
  top: 308px;
}
.windows-grid-8:hover .windows-grid-8-hide {
  top: 0px;
}
.windows-grid-9 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* transition: all 1s; */
}
.windows-grid-9-hide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  right: 326px;
  bottom: 69px;
  /* transform: rotate(26deg); */
  transition: all 0.4s;
  /* transform: scale(0); */
}
.windows-grid-9:hover .windows-grid-9-hide {
  /* transform: scale(2); */
  transform: rotate(26deg);
  right: 0px;
  bottom: -300px;
  width: 383px;
  height: 516px;
  border-radius: 20%;
}

.windows-grid-8-hide h3 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
}
.windows-grid-8-hide p {
  color: #fff;
  font-family: "Poppins";
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.575rem;
  text-transform: capitalize;
}
.windows-grid-8-hide hr {
  width: 3.5rem;
  margin: 1rem 0;
  border: 3px solid white;
  border-radius: 50%;
}
.windows-grid-8 h4 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}
.windows-grid-14 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.2rem;
}
.windows-grid-14-1,
.windows-grid-14-2,
.windows-grid-14-3,
.windows-grid-14-4 {
  position: relative;
  z-index: 1;
  background: #3b5998;
  height: 100%;
  overflow: hidden;
}
.windows-grid-14-1-hide,
.windows-grid-14-2-hide,
.windows-grid-14-3-hide,
.windows-grid-14-4-hide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1977f3;
  z-index: -1;
  right: 75px;
  bottom: 75px;
  transition: all 0.4s;
}
.windows-grid-14-1:hover .windows-grid-14-1-hide {
  transform: rotate(360deg);
  right: 0px;
  bottom: 0px;
}
/* .windows-grid-14:hover .windows-grid-14-1 img {
  transform: scale(1.1);
} */
.windows-grid-14-2 {
  background: #15ad08;
}
.windows-grid-14-2-hide {
  background: #1d5e54;
  right: -75px;
  bottom: 75px;
}
.windows-grid-14-2:hover .windows-grid-14-2-hide {
  transform: rotate(360deg);
  right: 0px;
  bottom: 0px;
}
.windows-grid-14-3 {
  background: #bd3197;
  height: 100%;
}
.windows-grid-14-3-hide {
  background: #fba750;
  right: 75px;
  bottom: -75px;
}
.windows-grid-14-3:hover .windows-grid-14-3-hide {
  transform: rotate(360deg);
  right: 0px;
  bottom: 0px;
}
.windows-grid-14-4 {
  background: #00acee;
  height: 100%;
}

.windows-grid-14-4-hide {
  background: #000;
  right: -75px;
  bottom: -75px;
}
.windows-grid-14-4:hover .windows-grid-14-4-hide {
  transform: rotate(360deg);
  right: 0px;
  bottom: 0px;
}
@media (max-width: 1024px) {
  .windows-grid {
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: repeat(5, 110px);
  }
  .windows-grid-4 img {
    width: 6rem;
  }
  .windows-grid-8-front h4,
  .windows-grid-6 h4,
  .windows-grid-3 h4 {
    font-size: 0.85rem;
    font-weight: 600;
  }
  .windows-grid-1 h4 {
    font-size: 0.7rem;
  }
  .windows-grid-8-hide h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .windows-grid-8-hide p {
    font-family: "Poppins";
    font-size: 0.68rem;
    font-weight: 400;
    line-height: 1.1rem;
  }
  .windows-grid-8-hide hr {
    border: 2px solid white;
  }
  .windows-grid-9 img {
    width: 8.5rem;
  }
  .windows-grid-11 img {
    width: 2.2rem;
  }
  .windows-grid-13 img {
    width: 2.2rem;
  }
  .windows-grid-14 img {
    width: 1.3rem;
  }
}
@media (max-width: 764px) {
  .windows-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 110px);
  }
}
@media (max-width: 700px) {
  .windows {
    display: none;
  }
}
